.feed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.imgchang{
    width: 50%;
    height: 10%;

}
.nav-icon{
    margin: 0.5rem;
    color: black;
}

.nav-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.upload-btn{
    /* width: 15rem; */
    margin-top: 1rem;
    /* height: 10vh; */

}
.video-container{
    height: 80vh;
    /* border: 1px solid black; */
    border-radius: 15px;
    scrollbar-width: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.video-container::-webkit-scrollbar{
    display: none; 

}
.post-container{
    height: 100%;
    width: 20rem;
    margin-top: 0.6rem;
}

.post-container>video{
    height: 100%;
    width: 20rem;
    object-fit: contain;
    background-color: lightpink ;
    border-radius: 15px;
    position: relative;

}

.video-info{
    position: absolute;
    width: 20rem;
    display: flex;
    justify-content: space-around;
    bottom: 0px;
}

.avatar-container{
    display: flex;
    justify-content: flex-start;
    width: 70%;

}

.avatar-container>p{
    margin-left: 0.1rem;
    margin-top: 1rem;
}

.post-like{
   width: 20%;
   display: flex;
   flex-direction: column;
}

 @media screen and (max-width:500px) {
    .nav-icon{
        display: none;
    }
    
 }